@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom right, #808184, #c2c4c7);
}
